#cv {
    background: black;
    color: silver;
    padding-left: 260px;
    padding-right: 260px;
}
h1 {
    font-size: 38px;
    text-align: center;
}
h2 {
    font-size: 25px;
    text-align: left;
}
img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
